.banner {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/sport-wear-store.appspot.com/o/sports-wear-store-banner-bg-img-2.jpg?alt=media&token=a94f4573-2c43-480b-99cd-d1467280cb56);
  background-repeat: no-repeat;
  background-size: cover;
}