.fitness {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/sport-wear-store.appspot.com/o/sports-wear-store-banner-bg-img.jpg?alt=media&token=c6c846f7-7ba5-4725-a0f0-c7f9739a588a);
  background-repeat: no-repeat;
  background-size: cover;
}